.wrap {
  height: 100%;
  overflow: hidden;
  .pane {
    position: fixed;
    width: 280px;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .title {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
  }
}
